<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Gcm:</strong>
  <%= @device.gcm_id %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @device.enabled %>
</p>

<p>
  <strong>Device group:</strong>
  <%= @device.device_group.name %>
</p>

<%= link_to 'Edit', edit_device_group_device_path(@device_group,@device) %> |
<%= link_to 'Back', device_group_devices_path %>
