<%= form_for(@command) do |f| %>
  <% if @command.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@command.errors.count, "error") %> prohibited this command from being saved:</h2>

      <ul>
      <% @command.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actions_json %><br>
    <%= f.text_field :actions_json %>
  </div>
  <div class="field">
    <%= f.label :exec_key %><br>
    <%= f.text_field :exec_key %>
  </div>
  <div class="field">
    <%= f.label :device_group_id %><br>
    <%= f.text_field :device_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
