<p id="notice"><%= notice %></p>

<h1>Listing Commands</h1>

<table>
  <thead>
    <tr>
      <th>Actions json</th>
      <th>Name</th>
      <th>Device group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commands.each do |command| %>
      <tr>
        <td><%= command.actions_json %></td>
        <td><%= command.name %></td>
        <td><%= command.device_group.name %></td>
        <td><%= link_to 'Show', [@device_group, command] %></td>
        <td><%= link_to 'Edit', edit_device_group_command_path(@device_group, command) %></td>
        <td><%= link_to 'Destroy', [@device_group, command], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Command', new_device_group_command_path(@device_group) %>
