<p id="notice"><%= notice %></p>

<p>
  <strong>Actions json:</strong>
  <%= @command.actions_json %>
</p>

<p>
  <strong>Exec key:</strong>
  <%= @command.exec_key %>
</p>

<p>
  <strong>Device group:</strong>
  <%= @command.device_group.name %>
</p>

<%= link_to 'Edit', edit_device_group_command_path(@device_group, @command) %> |
<%= link_to 'Back', device_group_commands_path(@device_group) %>
